Cleaning NBA Stats Data With Python And Pandas: Data Project [Part 1 of 3]

In this portion, we are performing web scraping, extracting all the information that we require: the MVP rankings, player stats, and team standings from each year from 1994 to 2022. We will scrape the HTML pages from basketball-reference.com, process and insert all the data that we have scraped into data frames, and then convert them in to CSV files.

https://www.youtube.com/watch?v=JGQGd-oa0l4

In [1]:
# This library will allow us to download webpages
!pip install requests

Requirement already satisfied: requests in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from requests) (2022.9.24)

In [2]:
years = list(range(1994, 2023))

In [3]:
# This URL will allow us access to the awards ranking information each year from 1994 to 2022
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [4]:
import requests

# This loop will go through each year and will download the webpage with all the mvp for each season
for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    
    with open("mvp/{}.html".format(year), "w+") as f:
              f.write(data.text)

In [5]:
# Extracting the data from each table in the html files
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4) (2.3.1)

In [6]:
from bs4 import BeautifulSoup

In [7]:
with open("mvp/1994.html") as f:
    page = f.read()
    
soup = BeautifulSoup(page, "html.parser")
soup.find('tr', class_ = "over_header").decompose()

In [8]:
mvp_table = soup.find_all(id = "mvp")[0]

In [9]:
!pip install pandas

Requirement already satisfied: pandas in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [10]:
import pandas as pd

In [11]:
mvp_1994 = pd.read_html(str(mvp_table))[0]

In [12]:
mvp_1994

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Hakeem Olajuwon,31,HOU,66.0,889.0,1010,0.880,80,41.0,27.3,11.9,3.6,1.6,3.7,0.528,0.421,0.716,14.3,0.210
1,2,David Robinson,28,SAS,24.0,730.0,1010,0.723,80,40.5,29.8,10.7,4.8,1.7,3.3,0.507,0.345,0.749,20.0,0.296
2,3,Scottie Pippen,28,CHI,7.0,390.0,1010,0.386,72,38.3,22.0,8.7,5.6,2.9,0.8,0.491,0.320,0.660,11.2,0.194
3,4,Shaquille O'Neal,21,ORL,3.0,289.0,1010,0.286,81,39.8,29.3,13.2,2.4,0.9,2.9,0.599,0.000,0.554,16.9,0.252
4,5,Patrick Ewing,31,NYK,1.0,255.0,1010,0.252,79,37.6,24.5,11.2,2.3,1.1,2.7,0.496,0.286,0.765,13.1,0.211
5,6,Gary Payton,25,SEA,0.0,20.0,1010,0.020,82,35.1,16.5,3.3,6.0,2.3,0.2,0.504,0.278,0.595,9.3,0.155
6,7T,Shawn Kemp,24,SEA,0.0,17.0,1010,0.017,79,32.9,18.1,10.8,2.6,1.8,2.1,0.538,0.250,0.741,11.7,0.216
7,7T,Karl Malone,30,UTA,0.0,17.0,1010,0.017,82,40.6,25.2,11.5,4.0,1.5,1.5,0.497,0.250,0.694,13.4,0.193
8,9,Mark Price,29,CLE,0.0,7.0,1010,0.007,76,31.4,17.3,3.0,7.8,1.4,0.1,0.478,0.397,0.888,10.0,0.201
9,10,Charles Barkley,30,PHO,0.0,5.0,1010,0.005,65,35.4,21.6,11.2,4.6,1.6,0.6,0.495,0.270,0.704,8.8,0.185
10,11T,Mookie Blaylock,26,ATL,0.0,1.0,1010,0.001,81,36.0,13.8,5.2,9.7,2.6,0.5,0.411,0.334,0.730,10.2,0.168
11,11T,Kevin Johnson,27,PHO,0.0,1.0,1010,0.001,67,36.6,20.0,2.5,9.5,1.9,0.1,0.487,0.222,0.819,8.7,0.170
12,11T,Dennis Rodman,32,SAS,0.0,1.0,1010,0.001,79,37.8,4.7,17.3,2.3,0.7,0.4,0.534,0.208,0.520,8.7,0.140
13,11T,Latrell Sprewell,23,GSW,0.0,1.0,1010,0.001,82,43.1,21.0,4.9,4.7,2.2,0.9,0.433,0.361,0.774,8.0,0.108
14,11T,John Stockton,31,UTA,0.0,1.0,1010,0.001,82,36.2,15.1,3.1,12.6,2.4,0.3,0.528,0.322,0.805,13.2,0.214
15,11T,Dominique Wilkins,34,TOT,0.0,1.0,1010,0.001,74,35.6,26.0,6.5,2.3,1.2,0.4,0.440,0.288,0.847,8.4,0.153
16,11T,Kevin Willis,31,ATL,0.0,1.0,1010,0.001,80,35.8,19.1,12.0,1.9,1.0,0.5,0.499,0.375,0.713,10.2,0.170

In [13]:
dfs = []
for year in years:
    with open("mvp/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_ = "over_header").decompose()
    mvp_table = soup.find_all(id = "mvp")[0]
    mvp_df = pd.read_html(str(mvp_table))[0]
    mvp_df["Year"] = year
    dfs.append(mvp_df)

In [14]:
mvps = pd.concat(dfs)

mvps.tail()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
7,8,Stephen Curry,33,GSW,0.0,4.0,1000,0.004,64,34.5,...,5.2,6.3,1.3,0.4,0.437,0.380,0.923,8.0,0.173,2022
8,9,Chris Paul,36,PHO,0.0,2.0,1000,0.002,65,32.9,...,4.4,10.8,1.9,0.3,0.493,0.317,0.837,9.4,0.210,2022
9,10T,DeMar DeRozan,32,CHI,0.0,1.0,1000,0.001,76,36.1,...,5.2,4.9,0.9,0.3,0.504,0.352,0.877,8.8,0.154,2022
10,10T,Kevin Durant,33,BRK,0.0,1.0,1000,0.001,55,37.2,...,7.4,6.4,0.9,0.9,0.518,0.383,0.910,8.4,0.198,2022
11,10T,LeBron James,37,LAL,0.0,1.0,1000,0.001,56,37.2,...,8.2,6.2,1.3,1.1,0.524,0.359,0.756,7.5,0.172,2022

In [15]:
mvps.to_csv("mvps.csv")

In [16]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

for year in years:
    url = player_stats_url.format(year)
    
    data = requests.get(url)
    
    with open("player/{}.html".format(year), "w+") as f:
        f.write(data.text)

In [17]:
!pip install selenium

Requirement already satisfied: selenium in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from selenium) (2022.9.24)
Requirement already satisfied: attrs>=19.2.0 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/manavshah/opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [18]:
# xattr -d com.apple.quarantine chromedriver
from selenium import webdriver
import os
from selenium.webdriver.common.keys import Keys
import time

In [22]:
driver = webdriver.Chrome()

In [23]:
import time

year = 1994
url = player_stats_url.format(year)

driver.get(url)
driver.execute_script("window.scrollTo(1,10000)")
time.sleep(2)

html = driver.page_source

In [24]:
with open("player/{}.html".format(year), "w+") as f:
    f.write(html)

In [25]:
for year in years:
    url = player_stats_url.format(year)

    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(2)

    html = driver.page_source
    with open("player/{}.html".format(year), "w+") as f:
        f.write(html)

In [26]:
dfs = []
for year in years:
    with open("player/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find_all(id="per_game_stats")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [27]:
players = pd.concat(dfs)

In [28]:
players

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,25,BOS,13,0,12.2,1.8,4.2,...,0.9,2.6,3.5,0.2,0.2,0.2,1.3,1.5,4.9,1994
1,2,Mahmoud Abdul-Rauf,PG,24,DEN,80,78,32.7,7.4,16.0,...,0.3,1.8,2.1,4.5,1.0,0.1,1.9,1.9,18.0,1994
2,3,Michael Adams,PG,31,WSB,70,67,33.4,4.1,10.0,...,0.5,2.1,2.6,6.9,1.4,0.1,2.4,2.0,12.1,1994
3,4,Mark Aguirre,SF,34,LAC,39,0,22.0,4.2,8.9,...,0.7,2.3,3.0,2.7,0.5,0.2,1.8,2.5,10.6,1994
4,5,Danny Ainge,SG,34,PHO,68,1,22.9,3.3,7.9,...,0.4,1.5,1.9,2.6,0.8,0.1,1.2,2.1,8.9,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2022
837,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2022
838,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2022
839,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2022
840,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2022

In [29]:
players.to_csv("players.csv")

In [30]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [33]:
# Need to re-run in an hour or so to actually get data
for year in years:
    url = team_stats_url.format(year)
    data = requests.get(url)

    with open("team/{}.html".format(year), "w+") as f:
        f.write(data.text)

In [34]:
dfs = []
for year in years:
    with open("team/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    e_table = soup.find_all(id="divs_standings_E")[0]
    e_df = pd.read_html(str(e_table))[0]
    e_df["Year"] = year
    e_df["Team"] = e_df["Eastern Conference"]
    del e_df["Eastern Conference"]
    dfs.append(e_df)
    
    w_table = soup.find_all(id="divs_standings_W")[0]
    w_df = pd.read_html(str(w_table))[0]
    w_df["Year"] = year
    w_df["Team"] = w_df["Western Conference"]
    del w_df["Western Conference"]
    dfs.append(w_df)

In [35]:
teams = pd.concat(dfs)

In [36]:
teams.tail()

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
13  56  26  .683     —  115.6  109.9   5.37  2022     Memphis Grizzlies*
14  52  30  .634   4.0  108.0  104.7   3.12  2022      Dallas Mavericks*
15  36  46  .439  20.0  109.3  110.3  -0.84  2022  New Orleans Pelicans*
16  34  48  .415  22.0  113.2  113.0   0.02  2022      San Antonio Spurs
17  20  62  .244  36.0  109.7  118.2  -8.26  2022        Houston Rockets

In [37]:
teams.head()

    W   L  W/L%    GB   PS/G   PA/G    SRS  Year              Team
0  57  25  .695     —   98.5   91.5   6.48  1994  New York Knicks*
1  50  32  .610   7.0  105.7  101.8   3.68  1994    Orlando Magic*
2  45  37  .549  12.0  103.2  101.0   2.11  1994  New Jersey Nets*
3  42  40  .512  15.0  103.4  100.7   2.40  1994       Miami Heat*
4  32  50  .390  25.0  100.8  105.1  -4.28  1994    Boston Celtics

In [38]:
teams.to_csv("teams.csv")